body {
    font-family: Arial, sans-serif;
    margin: 30px;
    padding: 0px 20px;
    background-color: blanchedalmond;
    border: 2px solid rgb(140, 98, 38);
    border-radius: 10px;
    display: block
}

.titre {
    text-align: center;
    background-color: rgb(242, 184, 98);
    margin-bottom: 0px;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 20px;
    content: border-box;
    margin-top: auto;
}

.liste {
    list-style-type: none;
    padding: 10px;
    content: border-box;
    margin: 5px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(148, 148, 236);
}